doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        title Beauty shop
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet'  href='css/normalize.css' )
        link(rel="stylesheet"  href='js/swiper/css/swiper.min.css')
        link(rel='stylesheet'  href='css/icons-svg.css' )
        link(rel='stylesheet'  href='css/main.css' )
        link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,500&amp;subset=cyrillic" rel="stylesheet")
        script(src="js/jquery-3.2.0.min.js" defer)
        script(src="js/hummer.js" defer)
        script(src="js/swiper/js/swiper.min.js" defer)
        script(src="js/main.js" defer)
        script(src="js/slider.js" defer)
        
    body
        .mobile-wrapper
            .mobile-index
                header.mobile-header-index.section-filter-blur
                    .mobile-menu-index.mobile-menu_js
                        a(href="#").mobile-menu-index__link
                            img(src="img/page2/menu2.png" alt="menu").mobile-menu-index__img
                    .mobile-logo-index        
                        a(href="index.html").mobile-logo-index__link
                            img(src="img/page2/logo-color.png" alt="logo" width="123" height="30").mobile-logo-index__img
                    .mobile-login-index.mobile-login_js
                        a(href="#").mobile-login-index__link
                            img(src="img/page2/doorSvg.svg" alt="enter" width="19" height="14").mobile-login-index__img
                .mobile-metro-section.mobile-metro_js.section-filter-blur
                    span.mobile-metro-title Cтанции метро
                .mobile-categories-section.mobile-categories_js.section-filter-blur
                    span.mobile-categories-title  Категории
                .mobile-main-slider.swiper-container
                    .swiper-wrapper
                        img(src='img/page2/picture-slider.jpg').swiper-slide.main-slider__img
                        img(src='img/page2/picture-slider.jpg').swiper-slide.main-slider__img
                    .swiper-pagination
                .mobile-main-menu.section-filter-blur
                    .mobile-salon-registration
                        h1.mobile-best-salon  Лучшие салоны 
                        button(type="button").mobile-button-salon-registration
                            span Зарегистрировать салон
                    nav.mobile-main-nav
                        .wrapper
                            - var nav = ["Этисэль на Таганке","RaI","VERY / ВЕРИ","В деталях","Sky Light beauty","LIPSCLINIC","Beaute De Russie","LINLINE","Beauty People"]
                            ol.mobile-main-nav__list
                                each item in nav
                                        li(class="mobile-main-nav__item")
                                            a(href="#" class="mobile-main-nav__link")  
                                                span.mobile-main-nav__text= item     
                .mobile-guide-section
                    h2.mobile-guide-title Путеводитель
                    ul.mobile-guide-list
                        .wrapper
                            - var title = ['Волосы','Ногти',' Эпиляция','Косметология','Косметология аппаратная','Омоложение','Разное']
                            - var title2 = ['5','4',' 3','1','3','4','10']
                            - var title3 = [' статей',' статьи',' статьи',' статья',' статьи',' статьи',' статей']
                            - var icons = ['img/page2/hair.png','icon-finger2','icon-epil','icon-mask2','icon-air2','img/page2/rose.png','icon-plus2']
                            - var alt = ['phone','phone','phone','phone','phone','phone','phone']
                                each item, index in title                          
                                    li(class="mobile-guide__item")
                                        a(href="#").mobile-guide__link
                                            if(icons[index]==='img/page2/hair.png'||icons[index]==='img/page2/rose.png')
                                                span.mobile-guide__icon
                                                    img(src=icons[index] alt = alt[index]).mobile-guide__img
                                            else        
                                                span.mobile-guide__icon(class=icons[index])    
                                            span.mobile-guide__title
                                                span.mobile-guide__name= item
                                                span.mobile-guide__sum
                                                    span.mobile-guide__sum-name= title2[index]
                                                    span.mobile-guide__sum-name= title3[index]
                    .mobile-shares-section
                        .mobile-shares
                            .wrapper
                                h2.mobile-shares__title Акции
                                a(href="#").mobile-shares__link Все акции      
                        .wrapper700
                            .mobile-card-shares-container.swiper-container
                                .mobile-card-shares-wrap.swiper-wrapper
                                    .mobile-card-shares.swiper-slide
                                        .mobile-card-shares-img
                                            img(src="img/page2/articles.jpg" alt="shares")
                                        .mobile-card-shares-content
                                            h3.mobile-card-shares-content__title Подарок на февральские праздники
                                            h3.mobile-card-shares-content__name Этисэль на Таганке
                                            .mobile-salon-adress
                                                span.mobile-adress-salon
                                                    span.adress м. Таганская
                                                    span 350 м
                                            .mobile-time-shares
                                                span.mobile-time-shares__day 26 д.
                                    .mobile-card-shares.swiper-slide
                                        .mobile-card-shares-img
                                            img(src="img/page2/articles.jpg" alt="shares")
                                        .mobile-card-shares-content
                                            h3.mobile-card-shares-content__title Подарок на февральские праздники
                                            h3.mobile-card-shares-content__name Этисэль на Таганке
                                            .mobile-salon-adress
                                                span.mobile-adress-salon
                                                    span.adress м. Таганская
                                                    span 350 м
                                            .mobile-time-shares
                                                span.mobile-time-shares__day 35 д       
                                    .mobile-card-shares.swiper-slide
                                        .mobile-card-shares-img
                                            img(src="img/page2/articles.jpg" alt="shares")
                                        .mobile-card-shares-content
                                            h3.mobile-card-shares-content__title Подарок на февральские праздники
                                            h3.mobile-card-shares-content__name Этисэль на Таганке
                                            .mobile-salon-adress
                                                span.mobile-adress-salon
                                                    span.adress м. Таганская
                                                    span 350 м
                                            .mobile-time-shares
                                                span.mobile-time-shares__day 35 д 
                                .mobile-slider-controll
                                    button.mobile-arrow-slider__back.prev1.mobile-slider-arrow.swiper-button-prev
                                    button.mobile-arrow-slider__next.next1.mobile-slider-arrow.swiper-button-next
                                    .mobile-slider-amount.amount1.swiper-pagination
                    .mobile-reviews-section
                        .mobile-reviews-title-block
                            .wrapper
                                h2.mobile-reviews__title  Отзывы
                                a(href="#").mobile-reviews__link Все отзывы      
                        .wrapper700

                            .mobile-salon-reviews-container.swiper-container
                                .mobile-salon-reviews-wrap.swiper-wrapper
                                    .mobile-salon-reviews.swiper-slide
                                        h3.mobile-salon-reviews__name Либерти
                                        .mobile-salon-adress
                                            span.mobile-adress-salon
                                                span.adress м. Таганская
                                                span 350 м
                                        .mobile-reviews
                                            p Хочу выразить свою благодарность диетологам этого центра за то что помогли мне не только остановить нарастающие килограммы, но и довольно значительно их уменьшить.Только благодаря их... 
                                            a(href="#").mobile-reviews-further Читать полностью
                                        .mobile-salon-reviews__author Ксана Дегтярёва
                                    .mobile-salon-reviews.swiper-slide
                                        h3.mobile-salon-reviews__name Либерти
                                        .mobile-salon-adress
                                            span.mobile-adress-salon
                                                span.adress м. Таганская
                                                span 350 м
                                        .mobile-reviews
                                            p Хочу выразить свою благодарность диетологам этого центра за то что помогли мне не только остановить нарастающие килограммы, но и довольно значительно их уменьшить.Только благодаря их... 
                                            a(href="#").mobile-reviews-further Читать полностью
                                        .mobile-salon-reviews__author Ксана Дегтярёва        
                                .mobile-slider-controll
                                    button.mobile-arrow-slider__back.prev2.mobile-slider-arrow.swiper-button-prev
                                    button.mobile-arrow-slider__next.next2.mobile-slider-arrow.swiper-button-next
                                    .mobile-slider-amount.amount2.swiper-pagination              
                    .mobile-events-section
                        .mobile-events-title-block
                            .wrapper
                                h2.mobile-events__title  События
                                a(href="#").mobile-events__link Все события    
                        .wrapper700
                            .mobile-salon-events-container.swiper-container
                                .mobile-salon-events-wrap.swiper-wrapper    
                                    .mobile-salon-events-card.swiper-slide
                                        .mobile-card-events-img
                                            img(src="img/page2/events.jpg" alt="shares")
                                        .mobile-card-events-content
                                            h3.mobile-card-events-content__title Beauty Show Krasnodar - 2017
                                            .mobile-card-events-content__adress
                                                span.events-adress1 г. Краснодар, ул. Конгрессная, 1, 
                                                span.events-adress ВКК "Экспоград Юг"
                                            .mobile-card-events-content__time 01.06.2017 - 04.06.2017
                                    .mobile-salon-events-card.swiper-slide
                                        .mobile-card-events-img
                                            img(src="img/page2/events.jpg" alt="shares")
                                        .mobile-card-events-content
                                            h3.mobile-card-events-content__title Beauty Show Krasnodar - 2017
                                            .mobile-card-events-content__adress
                                                span.events-adress1 г. Краснодар, ул. Конгрессная, 1, 
                                                span.events-adress ВКК "Экспоград Юг"
                                            .mobile-card-events-content__time 01.06.2017 - 04.06.2017        
                                .mobile-slider-controll
                                    button.mobile-arrow-slider__back.prev3.mobile-slider-arrow.swiper-button-prev
                                    button.mobile-arrow-slider__next.next3.mobile-slider-arrow.swiper-button-next
                                    .mobile-slider-amount.amount3.swiper-pagination       
                    .mobile-news-section
                        .mobile-news-title-block
                            .wrapper
                                h2.mobile-news__title Новости
                                a(href="#").mobile-news__link Все новости    
                        .wrapper700
                            .mobile-salon-news-container.swiper-container
                                .mobile-salon-news-wrap.swiper-wrapper    
                                    .mobile-salon-news-card.swiper-slide
                                        .mobile-card-news-img
                                            img(src="img/page2/articles.jpg" alt="shares")
                                        .mobile-card-news-content
                                            .mobile-card-news-content__time 01.02.2016
                                            .mobile-card-news-content__description Записывайтесь на ботокс!
                                            h3.mobile-card-news-content__name Этисэль на Таганке
                                            .mobile-salon-adress
                                                span.mobile-adress-salon
                                                    span.adress м. Таганская
                                                    span 350 м
                                    .mobile-salon-news-card.swiper-slide
                                        .mobile-card-news-img
                                            img(src="img/page2/articles.jpg" alt="shares")
                                        .mobile-card-news-content
                                            .mobile-card-news-content__time 01.02.2016
                                            .mobile-card-news-content__description Записывайтесь на ботокс!
                                            h3.mobile-card-news-content__name Этисэль на Таганке
                                            .mobile-salon-adress
                                                span.mobile-adress-salon
                                                    span.adress м. Таганская
                                                    span 350 м            
                                .mobile-slider-controll
                                    button.mobile-arrow-slider__back.prev4.mobile-slider-arrow.swiper-button-prev
                                    button.mobile-arrow-slider__next.next4.mobile-slider-arrow.swiper-button-next
                                    .mobile-slider-amount.amount4.swiper-pagination       
                    .mobile-articles-section
                        .mobile-articles-title-block
                            .wrapper
                                h2.mobile-articles__title Статьи
                                a(href="#").mobile-articles__link Все статьи    
                        .wrapper700
                            .mobile-salon-articles-container.swiper-container
                                .mobile-salon-articles-wrap.swiper-wrapper
                                    .mobile-salon-articles-card.swiper-slide
                                        .mobile-card-articles-img
                                            img(src="img/page2/articles.jpg" alt="shares")
                                        .mobile-card-articles-content
                                            .mobile-card-articles-content__time 01.02.2016
                                            .mobile-card-articles-content__description Записывайтесь на ботокс!
                                            h3.mobile-card-articles-content__name Этисэль на Таганке
                                            .mobile-salon-adress
                                                span.mobile-adress-salon
                                                    span.adress м. Таганская
                                                    span 350 м
                                    .mobile-salon-articles-card.swiper-slide
                                        .mobile-card-articles-img
                                            img(src="img/page2/articles.jpg" alt="shares")
                                        .mobile-card-articles-content
                                            .mobile-card-articles-content__time 01.02.2016
                                            .mobile-card-articles-content__description Записывайтесь на ботокс!
                                            h3.mobile-card-articles-content__name Этисэль на Таганке
                                            .mobile-salon-adress
                                                span.mobile-adress-salon
                                                    span.adress м. Таганская
                                                    span 350 м                
                                .mobile-slider-controll
                                    button.mobile-arrow-slider__back.prev5.mobile-slider-arrow.swiper-button-prev
                                    button.mobile-arrow-slider__next.next5.mobile-slider-arrow.swiper-button-next
                                    .mobile-slider-amount.amount5.swiper-pagination                 
                    .content-section
                        .wrapper
                            h1 Все салоны красоты Москвы
                            p Салоны красоты Москвы готовы предоставить современным женщинам полный спектр косметологических услуг для любых целей – от создания оригинального имиджа до приятного релакса. Темп жизни диктует нам ограниченные возможности по выделению времени на досуг, поэтому поиск подходящего салона или мастера необходимо свести к минимуму. Сервис Msk-Beauty позволяет быстро и легко найти салон, подходящий под ваши цели и запросы.
                            h2 Поиск салона красоты с Msk-Beauty
                            p В нашем каталоге вы найдете полный список салонов красоты, который удобно отсортирован по большому количеству параметров. С помощью поиска по важным для вас особенностям вы быстро найдете именно те салоны, которые готовы предложить интересующие вас услуги на должном уровне. Поиск можно производить по следующим параметрам:
                            ul.content-list
                                li.content__item
                                    span.content-wrap
                                        span.content__title Вид услуги
                                        span.content__description  – от окраски волос до коррекции фигуры;
                                li.content__item
                                    span.content-wrap
                                        span.content__title Цена услуги 
                                        span.content__description – большое разнообразие ценовых предложений от московских салонов красоты;
                                li.content__item
                                    span.content-wrap
                                        span.content__title Расположение салона 
                                        span.content__description - район, улица, станция метро и тому подобные ориентиры;
                                li.content__item
                                    span.content-wrap
                                        span.content__title Наличие скидок и специальных предложений  
                                        span.content__description – мы всегда держим руку на пульсе событий, чтобы вам не приходилось собирать информацию по крупицам самостоятельно;
                                li.content__item
                                    span.content-wrap
                                        span.content__title Отзывы  
                                        span.content__description – наши пользователи рассказывают о своих впечатлениях после посещения определенных салонов и принимают участие в составлении рейтинга салонов красоты, на который вы можете ориентироваться;
                                 li.content__item
                                    span.content-wrap
                                        span.content__title Вакансии   
                                        span.content__description – если вы ищете работу в данной сфере услуг, то этот параметр поможет быстро найти салоны с вакантными местами.   
                            h2 Ассортимент услуг московский салонов красоты
                            p Если вы еще не определились, какую процедуру хотели бы заказать больше всего, то разнообразие выбора в нашем каталоге поможет представить полную картину по ассортименту косметологических услуг. С помощью сервиса Msk-Beauty вы можете найти оптимальное предложение в любой из следующих категорий услуг:
                            ul.content-list
                                li.content__item
                                    span.content-wrap
                                        span.content__description все виды аппаратной и мануальной косметологии;
                                li.content__item
                                    span.content-wrap
                                        span.content__description коррекция фигуры с помощью липосакции, специальных инъекций, плазмалифтинга и других проверенных методик;
                                li.content__item
                                    span.content-wrap
                                        span.content__description маникюр и педикюр — детский, вечерний, классический, медицинский, дизайнерский и т. д.;
                                li.content__item
                                    span.content-wrap
                                        span.content__description разнообразные виды массажа — от классического релаксирующего до антицеллюлитного или оригинального шведского, японского, тайского;
                                li.content__item
                                    span.content-wrap
                                        span.content__description весь комплекс парикмахерских услуг — от стрижки до сложной окраски и причесок;
                                li.content__item
                                    span.content-wrap
                                        span.content__description загар и SPA-процедуры в полном ассортименте.
                            p Вам остается лишь выбрать необходимый вид косметологических услуг — готовые решения по воплощению этих желаний уже есть на нашем сайте!            

        footer.mobile-footer
            .wrapper
                .mobile-mail
                    a(href="mailto:info@msk-beauty.ru").mail__link info@msk-beauty.ru
                .mobile-footer__text    
                    p Рейтинг составлен на коммерческой основе, чтобы узнать подробности вы можете 
                        a(href="#") связаться с менеджером.     
        include metro
        include registration
        include categories
        include menu                
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            